src/main/app/EmployeeApiImplementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <flow name="getEmployeesFlow">
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT Id, firstName, lastName, age, dept FROM emp;]]></db:parameterized-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="getEmployeeByIdFlow">
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT Id, firstName, lastName, age, dept FROM emp
WHERE id=#[flowVars.Id]]]></db:parameterized-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="deleteEmployeeByIdFlow">
        <db:delete config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[delete from emp where id=#[flowVars.Id]]]></db:parameterized-query>
        </db:delete>
        <set-payload value="Successfully Deleted!!" doc:name="Set Payload"/>
    </flow>
    <flow name="addEmployeeFlow">
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <db:insert config-ref="MySQL_Configuration" doc:name="Insert Emps">
            <db:parameterized-query><![CDATA[insert into emp(firstname,lastname,age,dept) values(#[payload.firstName],#[payload.lastName],#[payload.age],#[payload.dept])]]></db:parameterized-query>
        </db:insert>
        <set-payload value="Added Successfully" doc:name="Set Payload"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload value="#[exception.cause.message]" doc:name="Set Payload"/>
        </catch-exception-strategy>
    </flow>
    <flow name="updateEmployeeFlow">
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <db:update config-ref="MySQL_Configuration" doc:name="Update Emps">
            <db:parameterized-query><![CDATA[update emp set firstname=#[payload.firstName],lastname=#[payload.lastName],age=#[payload.age],dept=#[payload.dept] where id=#[flowVars.Id]]]></db:parameterized-query>
        </db:update>
        <set-payload value="Updated Sucessfully" doc:name="Set Payload"/>
    </flow>
</mule>
